body{
    background-image: url('contact.jpg');
    background-position: bottom;
}
form { 
    width: 500px; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    display: flex; 
    flex-direction: column; 
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button:hover {
     background-color: #2175e3; 
    }